 /* @font-face {
    font-family: 'Lemon Milk';
    src: url('LEMONMILK-Bold.otf') format('truetype');
} */

/* font-family: 'Lemon Milk', Arial, sans-serif;

body {
    background-color: #092E20;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-table {
	background-color:green;
	height:400px;
	width:600px;
	border:solid 6px brown;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	box-shadow:#111 1px 1px 2px;
}

.title {
    font-family: 'Lemon Milk', sans-serif;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
} */

 body {
     background-color: #ac1616;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .title {
     font-family: 'Lemon Milk', sans-serif;
     font-size: 40px;
     color: #fff;
     text-transform: uppercase;
     margin-top: 30px;
}
 img.preload {
     display:none;
}
 h1 {
     font-size:60px;
     text-align:center;
     padding:0px;
     margin:0px;
}
 #card-table {
     background-color:#0b130b;
     height:400px;
     width:600px;
     border:solid 6px #c9ac1d;
     border-radius:8px;
     -webkit-border-radius:8px;
     -moz-border-radius:8px;
     -ms-border-radius:8px;
     -o-border-radius:8px;
     box-shadow:#111 1px 1px 2px;
}
